{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/Style_Profile_Yunie_revisi.css' %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/abyssinica" type="text/css">
    <title>Yunie Debora's Profile</title>    
  </head>

    <body>
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="{% url 'index' %}" target=a_blank > Home</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="{% url 'profile' %}" target=a_blank > Profile</a>
                    </li>
                    <li class="nav-item active" style="margin-left: 15%">
                    <a class="nav-link" href="{% url 'gallery' %}" style="font-size:medium; ">Gallery<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
            </div>
        </nav>


        <div class = "container-fluid">
            <div class = "row">
                    <div class= "col">
                    <div class= "row justify-content-center">
                        <h1 align = "center"><br><br>PICTURE OF ME<br></h1>
                    </div>
                    <div class="row">
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/lJKIqqN.jpg" class = "image" style = "width:300px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/OtJ2eyX.jpg" class = "image" style = "width:300px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/yEb83u7.jpg" class = "image" style = "width:300px;"></center></div>
                    </div>
                    <div class="row">
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/cYVqNZy.jpg" class = "image" style = "width:300px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/7vjn8gN.jpg" class = "image" style = "width:300px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/AMSt9wb.jpg" class = "image" style = "width:300px;"></center></div>
                    </div>
                    <div class="row">
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/rWPlFix.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/FvaKTrv.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/ntSsShs.jpg" class = "image" style = "width:400px;"></center></div>
                    </div>
                    <div class="row">
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/Ze0LrZX.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/SNxFWME.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/R109kVa.jpg" class = "image" style = "width:400px;"></center></div>
                    </div>
                    <div class="row">
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/P49tiDt.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/IOIcnfi.jpg" class = "image" style = "width:400px;"></center></div>
                        <div class="col" style ="padding :1%;"><center><img srcset="https://i.imgur.com/b5i3AcP.jpg" class = "image" style = "width:400px;"></center></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>