{% load static %}

<!doctype html>
<html lang="en">
    <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'home/css/Style_Profile_Yunie_revisi.css' %}">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/abyssinica" type="text/css">
    <title>Yunie Debora's Profile</title>    
  </head>

    <body>
        
        <nav class="navbar navbar-expand-md fixed-top">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="{% url 'index' %}" target=a_blank >Home</a>
                    </li>
                    <li class="nav-item active" style="margin-left: 15%">
                    <a class="nav-link" href="#" > Profile <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="#pendidikan" target=a_blank > Education</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="#pengalaman" target=a_blank > Experiences</a>
                    </li> 
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="#skill" target=a_blank >Skills</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="#about&contact" target=a_blank >About</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="#about&contact" target=a_blank >Contact</a>
                    </li>
                    <li class="nav-item" style="margin-left: 15%">
                    <a class="nav-link" href="{% url 'gallery' %}" target=a_blank >Gallery</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class = "container-fluid">
            <div class = "row">
                <div class = "col" id ="background1">
                    <br><br><br>
                    <center><img srcset="https://i.imgur.com/JMSzjPT.jpg" class="rounded-circle" style = "border: 5px solid #101313; box-sizing: border-box; top: 112px; width:300px;height:300px;"></center>
                    <br><br>

                    <center><div class = "textBox" style = "width:43%; height:28%; min-width: 300px;">
                    <h1 align = "center">Hello! I’m Yunie Debora</h1>
                    <p align = "center">
                        I’m 19 years old girl who currently studying in Computer Science<br>
                        Faculty, Universitas Indonesia. Information System is my major, I learn <br>
                        about programming, and also learn about Management and Business.  
                    </p>
                    </div></center>
                    <br>
                </div>
            </div>

            <section id="pendidikan">
            <div class="row">
                <div class = "col">
                <div class = "row justify-content-center">
                    <h1 align = "center"><strong><br><br> EDUCATION <br></strong></h1>
                </div>
                <div class ="row">
                <div class="col"> 
                    <img srcset = "https://i.imgur.com/ZK5Tvqd.jpg" class= "image" style = "width:75%; margin-left:20%; margin-top:20%;">
                </div>
                <div class="col">
                    <div class="timeline">
                        <div class="container left">
                            <div class="content">
                                <div class="row"><div class = "col"><img src = "https://i.imgur.com/Z7Jr1hL.png" style = "width:75px;"></div>
                                <div class = "col"><h2>SDN 116/IV<br>Kota Jambi</h2>
                                <p>2006 - 2012</p></div></div>
                            </div>
                        </div>
                        <div class="container right">
                            <div class="content">
                                <div class="row"><div class = "col"><img src = "https://i.imgur.com/yddJltk.png" style = "width:75px;border-radius:25%;"></div>
                                <div class = "col"><h2>SMP N 5 <br>Kota Jambi</h2>
                                <p>2012 - 2015</p></div></div>
                            </div>
                        </div>
                        <div class="container left">
                            <div class="content">
                                <div class="row"><div class = "col"><img src = "https://i.imgur.com/OE44CqL.png" style = "width:75px;border-radius:25%;"></div>
                                <div class = "col"><h2>SMA N 1<br>Kota Jambi</h2>
                                <p>2015 - 2018</p></div></div>
                            </div>
                        </div>
                        <div class="container right">
                            <div class="content">
                                <div class="row"><div class = "col"><img src = "https://i.imgur.com/s3QG6NI.png" style = "width:75px;"></div>
                                <div class = "col"><h2>Universitas<br>Indonesia</h2>
                                <p>On Going</p></div></div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                </div>
            </div>
            </section>
            
            <setion id="pengalaman">
            <div class="row">
                <div class="col">
                <div class="row justify-content-center">
                    <h1 align = "center"><strong><br><br> Experiences <br><br></strong></h1>
                </div>
                <div class= "row">
                <div class ="experiences">
                <div class = "col"><img srcset ="https://i.imgur.com/RuHruIq.png" class = "image" style = "width:500px;"></div>
                <div class = "col">
                    <p style = "font-size:24px; margin-left:630px; margin-top:-310px;" ><strong>
                        * Secretary of SMP N 5 Kota Jambi Student Council <br>(2013/2014)<br><br>
                        * Staff of MPK SMA N 1 Kota Jambi (2015/2016)<br><br>
                        * Vice Chairman of MPK SMAN 1 Kota Jambi (2016/2017)<br><br>
                        * Staff of BEM Fasilkom UI, Art and Culture Department<br>(2018/2019)
                    </strong></p>
                </div>
                <div class = "col">
                    <p style = "font-size:24px; margin-left:1340px; margin-top:-335px;"><strong>
                        * PSM UI Paragita 2018<br><br>
                        * Staff of Event Division DUIUJ 2019<br><br>
                        * Staff of Public Relation Educare 2019<br><br>
                        * Staff of FnB CompFest 2019<br><br>
                        * Chasier of Rich Fried Chicken Jambi (June - August 2019)
                    </strong></p>
                </div>
                </div>
                </div>
                </div>
            </div>
            </setion>

            <section id="skill">
            <div class="row" id="background2">
                <div class="col">
                <div class = "row justify-content-center">
                <h1><strong><br><br> Skills <br><br></strong></h1>
                </div>
                
                <div class="row" style="padding-bottom:5%;">
                <div class = "col" style = "text-align: right; padding-right:5%" >
                    <div class="textBox" style="background: rgb(56, 30, 5); width:20%; opacity:0.5;"></div>
                    <h1 style="font-size: 35px;  text-decoration: underline;"><strong>Hard Skills</strong></h1>
                    <p style="font-size: 20px;"><strong>Python &emsp;&emsp; 8/10<br><br>
                        Java&ensp;&emsp;&emsp;&emsp;7/10<br><br>Ms. Office&ensp;&ensp;9/10<br><br>English&ensp;&emsp;&emsp;8/10</strong></p>
                </div>
                <div class = "col" style = "padding-left:5%">
                    <div class="textBox" style="background: rgb(56, 30, 5); width:20%; opacity:0.5;"></div>
                    <h1 style="font-size: 35px;text-decoration: underline;"><strong>Soft Skills</strong></h1>
                    <p style="font-size: 20px;"><strong>Responsibility&emsp; 9/10<br><br>
                        Discipline&emsp;&emsp;&emsp;9/10<br><br>Punctual &emsp;&emsp;&emsp;9/10<br><br>Creative&ensp;&emsp;&emsp;&emsp;8/10</strong></p>
                </div>
                </div>
                </div>
            </div>
            </section>

            <section id = "about&contact">
            <div class = "row" id= "background3" >
                <div class = "col" style="padding-top: 5%; padding-left:5%; padding-bottom:5%;">
                    <div class = "textBox">
                    <center><h1 style = "font-size:64px;"><strong>About Me</strong></h1></center>
                    <div class = "line" style="width:110%; height:0.5%; margin-left:-5%;"></div>
                    <div class="row" style="padding: 10%;">
                        <img src = "https://i.imgur.com/lAplTqy.png" class = "image" style = "width:120px;">
                        <p style = "font-size:28px;"><strong> <br>June, 20 2000</strong></p>
                    </div>
                    <div class="row" style="padding-left:10%;">
                        <img src = "https://i.imgur.com/PRKIfJK.png" class = "image" style = "width:120px;">
                        <p style = "font-size:25px;"><strong><br>&ensp; yuniedebora20@gmail.com</strong></p>
                    </div>
                    <div class="row" style="padding-left:10%; padding-top:5%; padding-bottom:5%;">
                        <img src = "https://i.imgur.com/VehAkOo.png" class = "image" style = "width:120px;">
                        <p style = "font-size:25px;"><strong><br>&ensp; Mandor Goweng 82 <br>Kukusan, Beji, Depok</strong></p>
                    </div>
                    </div>
                </div>
                    
                <div class = "col" style="padding-top: 5%; padding-right:5%; padding-bottom:5%;">
                    <div class = "textBox" style="width:100%;"><center>
                        <center><h1 style = "font-size:64px;"><strong>Contact Me</strong></h1></center>
                        <div class = "line" style="width:110%; height:0.5%; margin-left:-5%;"></div>
                        <div style = "padding-top:39.5%; padding-bottom:39.5%;">
                        <a href="https://www.facebook.com/profile.php?id=100018171343251" target="_blank">
                        <img src="https://i.imgur.com/fWT6dkL.png" class = "image" style = "width:75px; " >
                        </a>
                        &emsp;
                        <a href="https://www.instagram.com/yuniedeboraaa/" target="_blank">
                        <img src="https://i.imgur.com/kSTA35d.png" class = "image" style = "width:75px; " >
                        </a>
                        &emsp;
                        <a href="https://wa.me/+685210658282" target="_blank">
                        <img src="https://i.imgur.com/6UacqdG.png" class = "image" style = "width:75px;  " >
                        </a>
                        &emsp;
                        <a href="https://www.linkedin.com/in/yunie-debora-176b74177/" target="_blank">
                        <img src="https://i.imgur.com/KYDrwE2.png" class = "image" style = "width:75px; " >
                        </a>
                        </div>
                    </center></div>
                </div>
            </section> </div>
        </div>
    </body>
            
            
        