
    html{
        scroll-behavior:smooth;
    }
    h2{
        font-size:18px;
    }

    body{
        background: #AB7A4C;
        font-family: Arial, Helvetica, sans-serif;
        color:#000000;
        opacity:1.0;
    }
    .navbar{
        position:fixed;
        overflow:hidden;
        display: flex;
        background-color: rgb(88, 58, 30);
    }
    .navbar a{
        color:rgb(248, 197, 149);
        text-align:center;
    }
    .navbar a:hover{
        background-color:rgb(88, 58, 30);
        color:rgb(26, 14, 4);
    }
    .btn{
        color:rgb(58, 38, 0)
    }
    .btn a:hover{
        background:black;
    }
    #background1{
        position:relative;
        background: url(https://i.imgur.com/fSDHLtc.png);
        height:40%;
    }
    #background2{
        position:relative;
        background: url(https://i.imgur.com/3OSWJjF.jpg);
        height: 35%;
    }
    #background3{
        position:relative;
        background: url(https://i.imgur.com/gzoPRM2.jpg);
        height: 35%;

    }
    .textBox {
        position: relative;
        z-index:1;
        background: rgba(64, 42, 9, 0.5);
        opacity:0.75;
    } 
    .line{
        position: absolute;
        z-index:5;
        background: rgba(26, 15, 0, 0.973);
        width:40%;
        height:0.5%;
    }
    .image{
        position:relative;
        z-index:2;
    }
    .btn{
        position: relative;
        z-index:2;
        font-size:32px;
        margin-left:-75px;
    }
    .experiences{
        overflow-x: scroll;
        overflow-y: hidden;
        white-space:nowrap;
    }
    #circleShape{
        border-radius:50%;
        width:1.8%; 
        height:4%;
    }


    }
    * {
        box-sizing: border-box;
      }
      /* The actual timeline (the vertical ruler) */
      .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
      }
      
      /* The actual timeline (the vertical ruler) */
      .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 45%;
        margin-left: -3px;
      }
      
      /* Container around content */
      .container {
        padding: 10px 40px;
        position: relative;
        background-color: inherit;
        width: 55%;
        margin:0%;
      }
      
      /* The circles on the timeline */
      .container::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -13px;
        background-color: rgba(64, 42, 9, 0.5);
        border: 4px solid #FF9F55;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
      }
      
      /* Place the container to the left */
      .left {
        left: -10%;
      }
      
      /* Place the container to the right */
      .right {
        left: 45%;
      }
      
      /* Add arrows to the left container (pointing right) */
      .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid rgba(64, 42, 9, 0.5);
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent rgba(64, 42, 9, 0.5);
      }
      
      /* Add arrows to the right container (pointing left) */
      .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid rgba(64, 42, 9, 0.5);
        border-width: 10px 10px 10px 0;
        border-color: transparent rgba(64, 42, 9, 0.5) transparent transparent;
      }
      
      /* Fix the circle for containers on the right side */
      .right::after {
        left: -13px;
      }
      
      /* The actual content */
      .content {
        padding: 20px 30px;
        background-color: rgba(64, 42, 9, 0.5);
        position: relative;
        border-radius: 6px;
      }
      
      /* Media queries - Responsive timeline on screens less than 600px wide */
      @media screen and (max-width: 600px) {
        
      /* Place the timelime to the left */
        .timeline::after {
          left: 31px;
        }
      
      /* Full-width containers */
        .container {
          width: 100%;
          padding-left: 70px;
          padding-right: 25px;
        }
      
      /* Make sure that all arrows are pointing leftwards */
        .container::before {
          left: 60px;
          border: medium solid white;
          border-width: 10px 10px 10px 0;
          border-color: transparent white transparent transparent;
        }
      
      /* Make sure all circles are at the same spot */
        .left::after, .right::after{
          left: 43px;
        }

      
      /* Make all right containers behave like the left ones */
        .right {
          left: -10%;
        }
      }
